.tsd-parameters,
.tsd-returns-title {
    display: none !important;
}

:root .tsd-typography ul {
    list-style-type: disc !important;
}

.tsd-typography ul ul {
    list-style-type: circle !important;
}

.tsd-typography ul ul ul {
    list-style-type: square !important;
}